<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
	
	<meta charset="UTF-8">
	<title>CadastroCaféApp</title>
	
	</head>
	
	<body>
		<h1>Cadastrar setor dos colaboradores:</h1>
		<form method="post">
			Nome do Setor: <input type="text" value="" name="setor"/>
			Supervisor: <input type="text" value="" name="nome"/>
			Data do Cadastro: <input type="date" value="" name="data"/>
			Horario do Cadastro: <input type="text" value="" name="horario"/>
			
			<button type="submit">Salvar</button>
		
		</form>
		
	
	</body>


</html>