<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
	
	<meta charset="UTF-8">
	<title>CadastroCaféApp</title>
	
	</head>
	
	<body>
		<h1>Cadastrar setor dos colaboradores:</h1>
		<form method="post">
		
			Nome do Setor: <input type="text" value="" name="nomeSetor"/>
			Supervisor: <input type="text" value="" name="nomeSupervisor"/>
			Data do Cadastro: <input type="date" value="" name="dataCadastro"/>
			Horario do Cadastro: <input type="time" value="" name="horaCadastro"/>
			
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>