<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8">
		<title>Café da Manhã: Grupo WL</title>
		
		<!--GOOGLE FONT-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
				
		<!--IMPORT DO MATERIALIZE-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
		
		<!--OTIMIZAR PARA MOBILE-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>	
	</head>
	
	<body>
		<h4>Cadastro do Café da Manhã:</h4>
		<h3><a href="/lista-cadastros" class="waves-effect waves-light btn"><i class="material-icons right">receipt</i>Lista de Cadastros</a></h3>
		
		<!--SCRIPT PARA CARREGAMENTO-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
	</body>
</html>