<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <title>App Cadastra Café</title>

        <!--GOOGLE FONT-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

        <!--IMPORT DO MATERIALIZE-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>

        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="style/styleCss.css"/>

        <!--OTIMIZAR PARA MOBILE-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--ICONE DA PAGINA-->
		<link rel="shortcut icon" type="imagem/x-icon" href="../static/img/favicon.ico" />
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper corNavBar"><a href="#" class="brand-logo center">
                    <i style="font-size: 40px" class="material-icons right">group_add</i></a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="/lista-cadastros" class="waves-effect waves-light btn botao">Menu Inicial</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
	    	<section class="container">

		            <div class="mensagemAlerta"><th:block th:include="mensagemValidacao"></th:block></div>

		            <div class="container subTitulos">Cadastrar Setor dos Colaboradores</div>

		            <fieldset class="container formularios">
		                <form method="post">
		                         Nome do Setor: <input type="text" value="" name="nomeSetor" placeholder="Seu Setor de Trabalho"/>
		                         Supervisor: <input type="text" value="" name="nomeSupervisor" placeholder="Nome Completo do Supervisor"/>

		                    <div class="row">
		                        <div class="input-field col s6">
		                            Data do Cadastro: <input type="date" value="" name="dataCadastro"/>
		                        </div>

		                        <div class="input-field col s6">
		                            Horário do Cadastro: <input type="time" value="" name="horaCadastro"/>
		                        </div>
		                    </div>

		                    <button class="waves-effect waves-light btn botao" type="submit">Salvar</button>
		                </form>
		            </fieldset>
	        </section>
        </main>

        <!--SCRIPT PARA CARREGAMENTO-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    </body>

</html>
