<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        
        <!--GOOGLE FONT-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <!--IMPORT DO MATERIALIZE-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="style/styleCss.css" />

        <!--OTIMIZAR PARA MOBILE-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ICONE DA PAGINA -->
        <link rel="shortcut icon" type="imagem/x-icon" href="img/favicon.ico" />
        
        <title>Coffee Time</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper corNavBar"><a href="#" class="brand-logo center">
                    <i style="font-size: 40px" class="material-icons">free_breakfast</i></a>
                    <ul id="nav-mobile" class="right">
                    <li><a href="/lista-cadastros" class="waves-effect waves-light btn botao">Menu Inicial</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <section class="container">
            
                <div class="mensagemAlerta"><th:block th:include="mensagemValidacao"></th:block></div>

                <div class="container subTitulos">Cadastrar Café da Manhã</div>

                <fieldset class="container formularios">
                    <form method="post">
                        <div>
                            <label for="nomeColaborador">Nome do Colaborador:</label>
                            <input type="text" name="nomeColaborador" value="" id="nomeColaborador" placeholder="Nome Completo" required>
                        </div>

                        <div>
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" value="" id="cpf" placeholder="000.000.000-00" required>
                        </div>

                        <div>
                            <label for="refeicao">Refeição:</label>
                            <input type="text" name="refeicao" value="" id="refeicao" placeholder="Adicione Seu Café da Manhã" required>
                        </div>
                        
                        <button class="waves-effect waves-light btn botao" type="submit">Adicionar</button>
                    </form>
                </fieldset>

                <div class="container tituloListaColaboradores">Lista de Colaboradores</div>

                <table class="container responsive-table listaColaboradores">
                    <thead>
                        <tr>
                            <th>Nome do Colaborador</th>
                            <th>CPF</th>
                            <th>Refeição</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="colaborador : ${colaboradores}">
                            <td><span th:text="${colaborador.nomeColaborador}"></span></td>
                            <td><span th:text="${colaborador.cpf}"></span></td>
                            <td><span th:text="${colaborador.refeicao}"></span></td>
                            <td><a th:href="${(#mvc.url('SC#deletarColaborador').arg(0, colaborador.cpf)).build()}">
                            <i class="material-icons">delete_forever</i></a></td>
                        </tr>
                    </tbody>
                </table>
                
            </section>
        </main>

        <!--SCRIPT PARA CARREGAMENTO-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    </body>

</html>