* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

body {
	background: #edebf2;
}

.botao {
	border-radius: 20px;
	background: linear-gradient(45deg, #361949, #2bbbad);
	font-size: 12px;
}

.tituloPrincipal {
	position: relative;
	text-align: center;
	font-size: 20px;
	box-shadow: 5px 5px 8px #361949;
	margin-top: 45px;
	margin-bottom: 50px;
	background: linear-gradient(45deg, #c24242, #361949, #2bbbad);
	color: #fff;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subTitulos {
	font-size: 20px;
	text-align: center;
	box-shadow: 5px 5px 8px #361949;
	margin-top: 45px;
	margin-bottom: 25px;
	background: linear-gradient(45deg, #361949, #2bbbad);
	color: #fff;
	border-radius: 10px;
}

.corNavBar {
	background: #c24242;
	box-shadow: 5px 2px 8px #361949;
}

.descricaoCadastro {
	position: relative;
	font-size: 20px;
	box-shadow: 5px 5px 8px #361949;
	margin-top: 20px;
	margin-bottom: 50px;
	background: linear-gradient(45deg, #361949, #2bbbad);
	color: #fff;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.descricaoCadastro p {
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 35px;
}

.mensagemAlerta {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
/* 	margin-bottom: 12px; */
}

fieldset {
	border: none;
}

.formularios {
	align-items: center;
	box-shadow: 0px 0px 8px #361949;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	background: #fff;
	border-radius: 10px;
}

.tituloListaColaboradores {
	width: 60%;
	font-size: 20px;
	text-align: center;
	box-shadow: 5px 5px 8px #361949;
	margin-top: 25px;
	margin-bottom: 25px;
	background: linear-gradient(45deg, #361949, #2bbbad);
	color: #fff;
	border-radius: 10px;
}

.listaCadastrosIndex {
	box-shadow: 0px 0px 8px #361949;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 50px;	
}

.listaColaboradores {
	width: 60%;
	box-shadow: 0px 0px 8px #361949;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 50px;
}