<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8">
		<title>Café da Manhã: Grupo WL</title>
		
		<!--GOOGLE FONT-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
				
		<!--IMPORT DO MATERIALIZE-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
		
		<!--OTIMIZAR PARA MOBILE-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>	
	</head>
	
	<body>
		<h1>Café da Manhã - Grupo WL</h1>
		<h4>Lista de Cadastros:</h4>
		<p>Cadastre o setor onde trabalha e sua refeição:<br>
		Após cadastrar o setor, clique no nome do seu setor de trabalho, para inserir seus dados e sua opção de refeição</p>
		
		<h3><a href="/cadastrar-setor" class="waves-effect waves-light btn"><i class="material-icons right">library_add</i>Cadastrar Setor</a></h3>
	
		<table class="container">
			<thead>
				<tr>
					<th>Nome do Setor</th>
					<th>Supervisor</th>
					<th>Data do Cadastro</th>
					<th>Horario do Cadastro</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="setor : ${setores}">
					<td><a th:href="${(#mvc.url('SC#detalhesSetor').arg(0, setor.codigo)).build()}"><span th:text="${setor.nomeSetor}"></span></a></td>
					<td><span th:text="${setor.nomeSupervisor}"></span></td>
					<td><span th:text="${setor.dataCadastro}"></span></td>
					<td><span th:text="${setor.horaCadastro}"></span></td>
				</tr>
			</tbody>	
		</table>
	
		<!--SCRIPT PARA CARREGAMENTO-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
	</body>
</html>